@import "tailwindcss";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    /* Keep the rest of the shadcn CSS variables here */
  }

  body {
    background-color: #020617;
    color: #F8FAFC;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-space-grotesk);
  }
}